body{
  background-color: peachpuff;
}
p{
  font-size: 50px;
  color: mediumseagreen;
  text-align: center;
}
.al{
  text-decoration: none;
  font-size: 24px;
  border: 5px solid darkcyan;
  color: darkcyan;
  background-color: lightgoldenrodyellow;
  padding: 5px;
}
.a1:hover{
  border: 5px solid lightgoldenrodyellow;
  color: lightgoldenrodyellow;
  background-color: darkcyan;
  font-weight: 700;
  box-shadow: 5px -5px darkcyan;
}
.b1{
  font-size: 24px;
  font-family: cursive;
  border: 5px double darkmagenta;
  border-radius: 50%;
  padding: 15px;
  background-color: plum;
}
.b1:hover{
  text-transform: uppercase;
  background-color: rebeccapurple;
}

.buttonClass {
  font-size:20px;
  font-family:Verdana;
  width:159px;
  height:50px;
  border-width:1px;
  color:#fff;
  border-color:#4b8f29;
  font-weight:bold;
  border-top-left-radius:4px;
  border-top-right-radius:4px;
  border-bottom-left-radius:4px;
  border-bottom-right-radius:4px;
  box-shadow: 0px 10px 14px -7px #3e7327;
  text-shadow: 0px 1px 0px #5b8a3c;
  background:linear-gradient(#77b55a, #72b352);
  text-decoration: none;
}

.buttonClass:hover {
  background: linear-gradient(#72b352, #77b55a);
}
.button-52 {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-52:after {
  content: "";
  background-color: #ffe54c;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.button-52:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .button-52 {
    padding: 13px 50px 13px;
  }
}
ul li{
  text-decoration: none;
  list-style: none;
  margin: 10px;
}
.button-33 {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-33:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}


